body {
    margin: 0;
}

.contenido {
    display: flex;
}

.contenido div {
    float: left;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.lista1,
.lista2 {
    background-color: #b3fac0;
    display: flex;
    width: 45%;
}

.lista1 select,
.lista2 select {
    background-color: #b3fac0;
    border: 0;
    font-size: 15px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.botones {
    background-color: #fae19c;
    width: 10%;
}

.botones button {
    font-size: 20px;
}

.nuevo-elemento {
    background-color: #9a93fa;
    width: 45%;
}

.clearfix {
    clear: both;
}
