#calculadora {
    background-color: #9b9b9b;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
}

#pantalla {
    background-color: #ffffff;
    box-sizing: border-box;
    display: inline-block;
    font-size: 5em;
    padding: 5px;
    overflow-x: auto;
    text-align: right;
    white-space: nowrap;
    width: 100%;
}

.fila {
}

.tecla {
    background-color: #ffffff;
    box-sizing: border-box;
    float: left;
    font-size: 5em;
    margin-left: 2%;
    margin-top: 15px;
    text-align: center;
    width: 23.5%;
}

.tecla:hover {
    background-color: #cdcdcd;
    cursor: pointer;
}

.tecla:first-child {
    margin-left: 0;
}

.tecla.resultado {
    width: 100%;
}

.tecla.limpiar {
    width: 49%;
}

.clearfix {
    clear: both;
}
