body {
    background: url('../img/carbon_bg.png');
}

.board {
    background-color: #737373;
    border: 25px solid #737373;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
    width: 400px;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    border: 2px solid #737373;
    border-radius: 30px;
    flex: 1 1 25%;
    height: 100px;
    width: 100px;
}

.cell img {
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

.cell img.no-rotated {
    cursor: pointer;
}

.winner {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 2em;
    text-align: center;
}

.winner .winnerLetter {
    box-sizing: content-box;
    height: 15px;
    padding: 1px;
    text-align: center;
    width: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.winner #sendScore {
    border-width: 1px;
    margin-left: 5px;
}

.reload {
    background-color: #7d79b1;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.8em;
    padding: 10px;
}

.small {
    font-size: 0.5em;
}

.card {
    transition: transform 0.4s cubic-bezier(1, 1, 1, 1);
}

#protection-screen {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#ranking {
    background-color: #737373;
    border: 25px solid #737373;
    border-radius: 30px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 250px;
}

#ranking .title {
    font-size: 1.5em;
    text-align: center;
}

#ranking .content {
    margin-top: 10px;
    text-align: center;
}

#ranking .content .line {
    border-bottom: 1px dotted black;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#ranking .content .line .code {
    text-align: left;
    flex: 1 1 40%;
}

#ranking .content .line .score {
    text-align: right;
    flex: 1 1 20%;
}

#ranking .content .line .time {
    text-align: right;
    flex: 1 1 20%;
}

@media screen and (max-width: 1025px) {
    #ranking {
        margin: 0 auto;
        position: relative;
        right: 0;
    }
}
